In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [53]:
file_path = ["Data Set/ARUNACHAL_PRADESH.csv","Data Set/ASSAM.csv","Data Set/BIHAR.csv","Data Set/DELHI.csv","Data Set/GOA.csv","Data Set/GUJARAT.csv",
             "Data Set/HIMACHAL_PRADESH.csv","Data Set/JHARKHAND.csv","Data Set/KARNATAKA.csv","Data Set/KERALA.csv","Data Set/MAHARASHTRA.csv",
             "Data Set/MANIPUR.csv","Data Set/MIZORAM.csv","Data Set/NAGALAND.csv","Data Set/ODISHA.csv","Data Set/PUDUCHERRY.csv","Data Set/RAJASTHAN.csv",
             "Data Set/SIKKIM.csv","Data Set/TAMIL_NADU.csv","Data Set/TRIPURA.csv","Data Set/UTTAR_PRADESH.csv","Data Set/UTTARAKHAND.csv","Data Set/WEST_BENGAL.csv"
             ]

In [54]:
dataframes = [pd.read_csv(file, encoding='latin1') for file in file_path]
df = pd.concat(dataframes, ignore_index=True)
df

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,`12,`000,STATE - ARUNACHAL PRADESH,`00,`000,`0000,Total,211353,160166,51187,...,22132,38415,19776,18639,24581,12610,11971,13834,7166,6668
1,`12,`000,STATE - ARUNACHAL PRADESH,`01,`000,`0000,"Crop and animal production, hunting and relate...",12967,8180,4787,...,736,2975,1211,1764,2545,1004,1541,430,207,223
2,`12,`000,STATE - ARUNACHAL PRADESH,`01,`011,`0000,Growing of non-perennial crops,2373,1352,1021,...,363,1164,563,601,906,441,465,258,122,136
3,`12,`000,STATE - ARUNACHAL PRADESH,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",171,98,73,...,23,33,16,17,30,14,16,3,2,1
4,`12,`000,STATE - ARUNACHAL PRADESH,`01,`011,`0112,Growing of rice,1944,1106,838,...,287,1005,480,525,780,375,405,225,105,120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195140,`19,`345,District - Purba Medinipur,`99,`990,`9900,Activities of extraterritorial organizations a...,18,12,6,...,6,0,0,0,0,0,0,0,0,0
195141,`19,`345,District - Purba Medinipur,`99,`991,`0000,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195142,`19,`345,District - Purba Medinipur,`99,`991,`9910,Blank,8244,5866,2378,...,876,25591,8488,17103,22057,7272,14785,3534,1216,2318
195143,`19,`345,District - Purba Medinipur,`99,`992,`0000,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250
195144,`19,`345,District - Purba Medinipur,`99,`992,`9920,Incomplete description/ Wrongly Classifed,8324,4604,3720,...,932,14872,3352,11520,13204,2934,10270,1668,418,1250

In [55]:
# Remove backticks from specific columns

df['State Code'] = df['State Code'].str.replace('`', '')
df['District Code'] = df['District Code'].str.replace('`', '')
df['Division'] = df['Division'].str.replace('`', '')
df['Group'] = df['Group'].str.replace('`', '')
df['Class'] = df['Class'].str.replace('`', '')

In [56]:
df.head(2)

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,12,000,STATE - ARUNACHAL PRADESH,00,000,0000,Total,211353,160166,51187,...,22132,38415,19776,18639,24581,12610,11971,13834,7166,6668
1,12,000,STATE - ARUNACHAL PRADESH,01,000,0000,"Crop and animal production, hunting and relate...",12967,8180,4787,...,736,2975,1211,1764,2545,1004,1541,430,207,223

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195145 entries, 0 to 195144
Data columns (total 25 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   State Code                           195145 non-null  object
 1   District Code                        195145 non-null  object
 2   India/States                         195145 non-null  object
 3   Division                             195145 non-null  object
 4   Group                                195145 non-null  object
 5   Class                                195145 non-null  object
 6   NIC Name                             195145 non-null  object
 7   Main Workers - Total -  Persons      195145 non-null  int64
 8   Main Workers - Total - Males         195145 non-null  int64
 9   Main Workers - Total - Females       195145 non-null  int64
 10  Main Workers - Rural -  Persons      195145 non-null  int64
 11  Main Workers - Rural - Males         195145 non-null  int64
 12  Main Workers - Rural - Females       195145 non-null  int64
 13  Main Workers - Urban -  Persons      195145 non-null  int64
 14  Main Workers - Urban - Males         195145 non-null  int64
 15  Main Workers - Urban - Females       195145 non-null  int64
 16  Marginal Workers - Total -  Persons  195145 non-null  int64
 17  Marginal Workers - Total - Males     195145 non-null  int64
 18  Marginal Workers - Total - Females   195145 non-null  int64
 19  Marginal Workers - Rural -  Persons  195145 non-null  int64
 20  Marginal Workers - Rural - Males     195145 non-null  int64
 21  Marginal Workers - Rural - Females   195145 non-null  int64
 22  Marginal Workers - Urban -  Persons  195145 non-null  int64
 23  Marginal Workers - Urban - Males     195145 non-null  int64
 24  Marginal Workers - Urban - Females   195145 non-null  int64
dtypes: int64(18), object(7)
memory usage: 37.2+ MB

In [58]:
df.isnull().sum()

State Code                             0
District Code                          0
India/States                           0
Division                               0
Group                                  0
Class                                  0
NIC Name                               0
Main Workers - Total -  Persons        0
Main Workers - Total - Males           0
Main Workers - Total - Females         0
Main Workers - Rural -  Persons        0
Main Workers - Rural - Males           0
Main Workers - Rural - Females         0
Main Workers - Urban -  Persons        0
Main Workers - Urban - Males           0
Main Workers - Urban - Females         0
Marginal Workers - Total -  Persons    0
Marginal Workers - Total - Males       0
Marginal Workers - Total - Females     0
Marginal Workers - Rural -  Persons    0
Marginal Workers - Rural - Males       0
Marginal Workers - Rural - Females     0
Marginal Workers - Urban -  Persons    0
Marginal Workers - Urban - Males       0
Marginal Workers - Urban - Females     0
dtype: int64

In [59]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Main Workers - Total - Persons,195145.0,1492.137518,45681.690979,0.0,6.0,28.0,188.0,15619759.0
Main Workers - Total - Males,195145.0,1193.171150,37739.170774,0.0,6.0,23.0,145.0,12801403.0
Main Workers - Total - Females,195145.0,298.966369,8582.018644,0.0,0.0,3.0,24.0,2818356.0
Main Workers - Rural - Persons,195145.0,660.618719,20444.364940,0.0,2.0,12.0,74.0,6770444.0
Main Workers - Rural - Males,195145.0,517.035312,16542.946109,0.0,1.0,8.0,56.0,5446541.0
Main Workers - Rural - Females,195145.0,143.583407,4314.446369,0.0,0.0,0.0,8.0,1323903.0
Main Workers - Urban - Persons,195145.0,831.518799,25867.811792,0.0,2.0,12.0,86.0,8849315.0
Main Workers - Urban - Males,195145.0,676.135837,21673.393792,0.0,1.0,9.0,67.0,7354862.0
Main Workers - Urban - Females,195145.0,155.382961,4531.592781,0.0,0.0,0.0,12.0,1494453.0
Marginal Workers - Total - Persons,195145.0,364.267186,11769.400296,0.0,0.0,4.0,28.0,3834122.0
Marginal Workers - Total - Males,195145.0,182.632197,5760.575239,0.0,0.0,2.0,18.0,1966750.0
Marginal Workers - Total - Females,195145.0,181.634989,6309.699294,0.0,0.0,0.0,6.0,1867372.0
Marginal Workers - Rural - Persons,195145.0,250.228620,8232.274167,0.0,0.0,1.0,14.0,2515182.0
Marginal Workers - Rural - Males,195145.0,116.524103,3723.077805,0.0,0.0,0.0,8.0,1223824.0
Marginal Workers - Rural - Females,195145.0,133.704517,4748.460092,0.0,0.0,0.0,3.0,1291358.0
Marginal Workers - Urban - Persons,195145.0,114.038566,3842.888809,0.0,0.0,0.0,9.0,1318940.0
Marginal Workers - Urban - Males,195145.0,66.108094,2132.581727,0.0,0.0,0.0,6.0,742926.0
Marginal Workers - Urban - Females,195145.0,47.930472,1803.271234,0.0,0.0,0.0,2.0,576014.0

In [60]:
df.columns

Index(['State Code', 'District Code', 'India/States', 'Division', 'Group',
       'Class', 'NIC Name', 'Main Workers - Total -  Persons',
       'Main Workers - Total - Males', 'Main Workers - Total - Females',
       'Main Workers - Rural -  Persons', 'Main Workers - Rural - Males',
       'Main Workers - Rural - Females', 'Main Workers - Urban -  Persons',
       'Main Workers - Urban - Males', 'Main Workers - Urban - Females',
       'Marginal Workers - Total -  Persons',
       'Marginal Workers - Total - Males',
       'Marginal Workers - Total - Females',
       'Marginal Workers - Rural -  Persons',
       'Marginal Workers - Rural - Males',
       'Marginal Workers - Rural - Females',
       'Marginal Workers - Urban -  Persons',
       'Marginal Workers - Urban - Males',
       'Marginal Workers - Urban - Females'],
      dtype='object')

In [64]:
df["State Code"].unique()

array(['12', '18', '10', '07', '30', '24', '02', '20', '29', '32', '27',
       '14', '15', '13', '21', '34', '08', '11', '33', '16', '09', '05',
       '19'], dtype=object)

In [114]:
df_s = df[df["State Code"] == "33"]
df_s["District Code"].unique()

array(['000', '602', '603', '604', '605', '606', '607', '608', '609',
       '610', '611', '612', '613', '614', '615', '616', '617', '618',
       '619', '620', '621', '622', '623', '624', '625', '626', '627',
       '628', '629', '630', '631', '632', '633'], dtype=object)

In [116]:
df_s[df_s["District Code"] == "602"]

,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
149302,33,602,District - Thiruvallur,00,000,0000,Total,185815,143731,42084,...,24962,44669,25291,19378,25138,13364,11774,19531,11927,7604
149303,33,602,District - Thiruvallur,01,000,0000,"Crop and animal production, hunting and relate...",3275,2333,942,...,180,1372,890,482,1150,752,398,222,138,84
149304,33,602,District - Thiruvallur,01,011,0000,Growing of non-perennial crops,4,0,4,...,4,16,6,10,16,6,10,0,0,0
149305,33,602,District - Thiruvallur,01,011,0113,"Growing of vegetables and melons, roots and tu...",2,0,2,...,2,0,0,0,0,0,0,0,0,0
149306,33,602,District - Thiruvallur,01,011,0114,Growing of sugar cane,0,0,0,...,0,14,6,8,14,6,8,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149931,33,602,District - Thiruvallur,99,990,9900,Activities of extraterritorial organizations a...,3,3,0,...,0,0,0,0,0,0,0,0,0,0
149932,33,602,District - Thiruvallur,99,991,0000,Blank,6978,3021,3957,...,2611,9837,3958,5879,4620,2024,2596,5217,1934,3283
149933,33,602,District - Thiruvallur,99,991,9910,Blank,6978,3021,3957,...,2611,9837,3958,5879,4620,2024,2596,5217,1934,3283
149934,33,602,District - Thiruvallur,99,992,0000,Incomplete description/ Wrongly Classifed,2306,1340,966,...,454,1697,511,1186,858,208,650,839,303,536
149935,33,602,District - Thiruvallur,99,992,9920,Incomplete description/ Wrongly Classifed,2306,1340,966,...,454,1697,511,1186,858,208,650,839,303,536